Welcome to the Writing Test Form!

<p>This page should show what has been retrieved from the database</p>
<br />
<br />

<ul>
<li>{{ id }}</li>
<li>{{ firstname }}</li>
<li>{{ surname }}</li>
<li>{{ email }}</li>
<li>{{ password }}</li>



<li>
    <ul>
    <li>{{ number }}</li>
    <li>{{ street }}</li>
    <li>{{ town }}</li>
    <li>{{ postcode }}</li>
    </ul>
</li>

</ul>